<h2 class="center">Our Albums</h2>

<div class="album-list">
  {{ range $.Site.Data.spotify.albums.items }}
    <div class="album">
      <a href="{{ .external_urls.spotify }}" target="_blank">
        <picture>
          <img
            class="album-art"
            src="{{ (index .images 1).url }}"
            srcset="{{ (index .images 0).url }} 2x"
            alt="{{ .name }} Art" />
        </picture>
      </a>
      <h3 class="album-title">{{ .name }}</h3>
      <p class="album-info">{{ (time .release_date).Format "January 2, 2006" }}</p>
    </div>
  {{ end }}
</div>
