<div class="single-list">
  <div class="single">
    <img
      class="single-art"
      src="https://i.scdn.co/image/ab67616d0000b273eccefab9ad48333f3766be59"
      alt="It's Who We Are / You've Come So Far Cover Art" />
  </div>
  <div class="single">
    <h2>It's Who We Are / You've Come So Far</h2>
    <p>Here it is, another single for you! Music from and inspired by the motion picture "Rooks", did you see it yet? You should! it's excellent!</p>
    <p>You're probably thinking, wow they've released a lot of music lately, and you would be right. And we're not going to let up, so much is coming soon, more music, videos, shows, yes shows!!! It's going to be a fun summer!</p>
    <p>
      <a class="album-buy-button full" href="https://amazon.com/music/player/albums/B0BZ5D52YS" target="_blank">Buy on Amazon</a>
      <a class="album-buy-button full" href="https://music.apple.com/us/album/its-who-we-are-youve-come-so-far-single/1678364656" target="_blank">Buy on Apple Music</a>
    </p>
  </div>
</div>