<div class="merch-list">
  <div class="merch-item">
    <picture>
      <img
        class="merch-image"
        src="/images/vices-everyday-hero-shirt.png"
        srcset="/images/vices-everyday-hero-shirt@2x.png 2x"
        alt="" />
    </picture>
    <p class="merch-name">An Everyday Hero Shirt</p>
  </div>
  <div class="merch-item">
    <picture>
      <img
        class="merch-image"
        src="/images/vices-shirt-black.png"
        srcset="/images/vices-shirt-black@2x.png 2x"
        alt="" />
    </picture>
    <p class="merch-name">Vices Inc Zen Shirt</p>
  </div>
  <div class="merch-item">
    <picture>
      <img
        class="merch-image"
        src="/images/vices-shirt-white.jpg"
        srcset="/images/vices-shirt-white@2x.jpg 2x"
        alt="" />
    </picture>
    <p class="merch-name">Vices Inc Logo Shirt</p>
  </div>
  <div class="merch-item">
    <picture>
      <img
        class="merch-image"
        src="/images/with-you-again-shirt.png"
        srcset="/images/with-you-again-shirt@2x.png 2x"
        alt="" />
    </picture>
    <p class="merch-name">With You Again Lyrics Shirt</p>
  </div>
</div>

<div class="cta-buy">
  <a class="album-buy-button cta-button" href="https://vicesinc.myshopify.com/">View All Merch</a>
</div>